<!DOCTYPE html>
<html>
  <body>
    <div class="right menu">
      <div class="item">
        <link-button link="${login.link}" label="${login.label}"></link-button>
      </div>
      <div class="item">
        <link-button link="${register.link}" type="primary" label="${register.label}"> </link-button>
      </div>
    </div>
  </body>
</html>