.ui.segment
    h3 User Activity
      |       
      .ui.list
        .item
          img.ui.avatar.image(src='https://placehold.it/60x60')
          |           
          .content
            a.header Rachel
            |             
            .description
              | Last seen commenting on 
              a
                b Semantic-UI-Meteor
              |  just now.
        |         
        .item
          img.ui.avatar.image(src='https://placehold.it/60x60')
          |           
          .content
            a.header Lindsay
            |             
            .description
              | Last seen doing a PR on 
              a
                b Semantic-UI-Docs
              |  10 hours ago.
