doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="semantic.min.css")
    script(src="semantic.min.js")
    lasso-head  
    block title
      title Default title
  body
    block content
    browser-refresh(enabled=true)
    lasso-body
