.ui.segment
    h3 Repo Activity
      |       
      .ui.relaxed.divided.list
        .item
          i.large.github.middle.aligned.icon
          |           
          .content
            a.header Semantic-Org/Semantic-UI
            |             
            .description Updated 10 mins ago
        |         
        .item
          i.large.github.middle.aligned.icon
          |           
          .content
            a.header Semantic-Org/Semantic-UI-Docs
            |             
            .description Updated 22 mins ago
        |         
        .item
          i.large.github.middle.aligned.icon
          |           
          .content
            a.header Semantic-Org/Semantic-UI-Meteor
            |             
            .description Updated 34 mins ago
