<!DOCTYPE html>
<html>
  <body>
    <div class="ui inverted large top fixed hidden menu">
      <div class="ui container"><a href="./index.html" class="active item">Home</a><a href="./projects.html" class="item">Projects</a><a href="./teams.html" class="item">Teams</a><a href="./repos.html" class="item">Repos</a></div>
      <session-menu login="{data.login}"></session-menu>
    </div>
  </body>
</html>