.ui.inverted.large.top.fixed.hidden.menu
    .ui.container
        a.active.item(href='./index.html') Home
        |       
        a.item(href='./projects.html') Projects
        |       
        a.item(href='./teams.html') Teams
        |       
        a.item(href='./repos.html') Repos
        session-menu
