<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <title>Default title</title>
  </head>
  <body>
    <browser-refresh enabled></browser-refresh>
  </body>
</html>